.hbMain{
    background-color: rgb(86, 168, 97);
    display: grid;
    grid-template-columns: repeat(200px, 1fr);
    gap: 1rem;
}

@media(min-width: 600px){
    .hbMain{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px){
    .hbMain{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px){
    .hbMain{
        grid-template-columns: repeat(4, 1fr);
    }
}